<!DOCTYPE HTML>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landingpage.css') }}">
        <title>Landing Page</title>
</head>
<body>
    <div id="wrapper">
        <h1>This should have a form on it</h1>
        <form action="">
            <h4>First Name</h4>
             <input type="text" name="firstname">
            <h4>Last Name</h4>
            <input type="text" name="firstname">
            <br></br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
