<!DOCTYPE HTML>
<html>
<head>
    <title>Friends</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='full_friends.css')}}">
</head>
<body>
    <div id="wrapper">
    <div class="{{color}}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
<h1>These are all your friends!</h1>
<div id="scroll">
{% for friend in all_friends: %}
    <hr>
   <p>ID: {{ friend['id'] }}</p>
   <p>First Name: {{friend['first_name']}}</p>
   <p>Last Name: {{friend['last_name']}}</p>
   <p>Email Address: {{friend['email_address']}}</p>
   <p>Date Added: {{friend['created_at']}}</p>
   <form action='/friends/{{friend['id']}}/edit' method="GET">
      <input type="submit" value="edit">
  </form>
   <hr>
{% endfor %}
</div>
<h2>Add a friend</h2>
<form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="email_address">Email Address:<input type="text" name="email_address" id="email_address"></label>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
