<!DOCTYPE HTML>
<html>
    <head>
        <title>Dojo Survey Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dojosurvey.css') }}">
    </head>
    <body>
        <div id="wrapper">
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action='/dojosurveypart2' method='post'>
            Name: <input type='text' name='name' value='{{session['name']}}'>
            Location: <select name='location'>
                <option value="DC">DC</option>
                <option value="Seattle">Seattle</option>
                <option value="Valley">Silicon Valley</option>
                <option value="Other">Other</option>
            </select>
            Favorite Language: <select name='language'>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Javascript">Javascript</option>
                <option value="Other">Other</option>
            </select>
            Comment: <input type='text' name='comment' value='{{session['comment']}}'>
            <input type='submit' value='create user'>
        </form>
        </div>
    </body>
</html>
