<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Course</title><link rel="stylesheet" href="{% static 'loginAndRegistration/css/loginAndRegistration.css' %}"media="screen"  charset="utf-8">
</head>
<body>
    <div id="wrapper">
        <div id="topright">
            <a href="">Logout</a>
        </div>
        <h1>Success! Welcome, {{user.name}}</h1>
        <table>
            <thead>
                <tr>
                <td>First Name</td><td>Username</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{user.name}}</td><td>{{user.username}}</td><td><a href="{% url 'loginAndRegistration:delete' id=user.id %}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <h1>Your Trip Schedules</h1>
        <table>
            <thead>
                <tr>
                <td>Destination</td><td>Travel Start Date</td><td>Travel End Date</td><td>Plan</td>
            </tr>
            </thead>
            <!-- <tbody>
                {% for destination in destination %}
                <tr>
                <td><a href="{% url 'travelPlans:destination'%}"> {{destination.destination}}</a></td><td>{{destination.datefrom}}</td><td><{{destination.dateto }}</td><td>{{destination.description }}</td>
                </tr>
                {% endfor %}
            </tbody> -->
        </table>
        <h1>Other User's Travel Plans</h1>
        <table>
            <thead>
                <tr>
                <td>Name</td><td>Destination</td><td>Travel Start Date</td><td>Travel End Date</td><td>Do You Want to Join?</td>
            </tr>
            </thead>
            <tbody>
                {% for destination in destination %}
                <tr>
                <td>Name</td><td><a href="{% url 'travelPlans:trip' id=destination.id%}"> {{destination.destination}}</a></td><td>{{destination.datefrom}}</td><td><{{destination.dateto }}</td><td>{{destination.description }}</td><a href={% url "travelPlans:trip" id=destination.id %}>Join</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'travelPlans:index' %}" value="AddTrip">Add Trip </a>
    </div>
</body>
</html>
