*{
    padding: 0px;
    margin:0px;
}

#wrapper{
    padding: 20px;
    margin: 40px;
    background-color: steelblue;
    width: 1000px;
    text-align: center;
}

h1{
    color: green;
    margin: 20px 0px;
}
p{
    margin-top: 20px;
}

img{
    display: block;
    width: 100px;
    margin-top: 40px;
    border: solid black 2px;
}
f
