<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Add Plans</title>
    <link rel="stylesheet" href="{% static 'travelPlans/css/travelPlans.css' %}"media="screen"  charset="utf-8">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    <script type="text/javascript">
        $(document).ready(function(){
        $(function(){
            // $('.datefrom').prop('min', function(){
            //     return new Date().toJSON().split('T')[0];
            // });
            // var from = $(".datefrom").val();
            // var to = $(".dateto").val();
            //     if(Date.parse(from) > Date.parse(to)){
            //         alert("Invalid Date Range");
            //     }
            //     else{
            //         alert("Valid date Range");
            //     }
        // });
        // $("form").validate({
        //     rules: {
        //         dateto: { greaterThan: "#datefrom" }
        //     }
        // });
            $('[type="date"]').prop('min', function(){
                return new Date().toJSON().split('T')[0];
            });
        });
    })
    </script>
</head>
<body>
<div id="wrapper">
    <div id="topright">
        <a href="{% url 'travelPlans:dashboard' %}">Home</a>
        <a href="{% url 'travelPlans:logout' %}">Logout</a>
    </div>
    <h1>Add a Trip<h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{%url 'travelPlans:addTrip'  %}" method='post'>
            {% csrf_token %}
            <p><label for="destination">Destination:</label>
            <input type="text" name="destination" class="longer" required></p>
            <p><label for="Description">Description:</label>
            <input type="text" name="description" class="longer"required></p>
            <p><label for="dateto">Travel Date From:</label>
            <input class="datefrom" type="date" name="datefrom" required></p>
            <p><label for="dateto">Travel Date To:</label>
            <input class="dateto" type="date" name="dateto" ></p>
            <p><input type="submit" value="Add"></p>
        </form>
</div>
</body>
</html>
