<!DOCTYPE HTML>
<html>
    <head>
        <title>Welcome to Your Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='the_wall.css') }}">
    </head>
    <body>
    <div id="wrapper">
        <div id="rightstuff">
            <a href='/logout'>Logout</a>
        </div>
        <h1>Welcome {{session['first_name']}}, {{user_id}}</h1>
        <p>New Post</p>
        <form action="/newmessage" method="POST">
            <textarea name="message" class="large"></textarea>
            <p><input type="submit" name="Post" value="Post your message."></p>
        </form>
        {% for message in all_messages %}
            <p>{{message['message']}}</p>
            <p>{{message['user_name']}} {{message['created_at']}}</p>
            <div class="right">
            {% for comment in all_comments%}
                {% if comment['message_id'] ==  message['message_id'] %}
                <p>{{comment['comment']}}</p>
                <p>{{comment['user_name']}}</p>
                {% endif %}
            {% endfor %}
        </div>
        <form class="right" action="/newcomment/{{message['message_id']}}" method="POST">
            <textarea name="comment" class="medium" cols="50" rows="2"></textarea>
            <p><input type="submit" name="Comment" value="Comment"></p>
        </form>
        {% endfor %}

    </div>
    </body>
</html>
